/* ******************************General**************************************************** */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

/* ***********************************En-tête********************************************************* */

/* header */
header {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 4;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 20px;
}



nav li {
    display: inline;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}

nav a:hover {
    color: rgb(175, 175, 175);
}






/* *********premiere section */
.first-section{
	display: flex;
    flex-direction: column;
    background-image:  url("img/h5-revolution-img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center; 
    height: 100vh; 
    justify-content: space-between;
   
  
   
   
    

}
.logo{
    display: flex;
    z-index: 2;
    width: 100%;
    
    
}
.logo>img{
    margin: auto;
    width: 30%;
    padding-top: 2em;
    padding-bottom: 2em;
}

blockquote{
    background-color: rgb(197, 157, 95);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f1f0f0;
    padding: 1em;
    
}
/* 
*****************************************deuxième section ************************************ */

.second-section{
    display: flex;
    flex-wrap: wrap;
    
    
}

.second-section>article{

    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second-section>article>div{

    width:90%;
    margin: auto;

}
.second-section>figure{
    width:50%;
    text-align: center;
}
.second-section>figure>img{
    width:50%;
    
}

 .second-section>article>div>h2{
 padding-bottom: 1em;
} 
.second-section>article>div>h3{
    padding-bottom: 1em;
}


.second-section>article>div>p{
 padding-bottom: 1em;
} 

.second-section>figure{
    width:50%;
    text-align: center;
    background-image:  url("img/h5-el-holder-img-1-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center; 
    height: 50vh; 
    justify-content: space-between;
}

/* .second-section figurespan{
    width:50%;
    text-align: center;
    background-image:  url("img/h5-el-holder-img-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center; 
    height: 100vh; 
    justify-content: space-between;
} */

.second-section button{
   background-color: rgb(197, 157, 95);
   border: 0px;
   color: white;
   padding: 1em;
   border-radius: 30px;
}

/* ********************* section galleries */

/* Mise en page simple de la galerie */
.gallerie {
  display: flex;
  flex-wrap: wrap;
 
}
 
/* On peut se passer du <div> intermédiaire : chaque figure prend 25% */
.gallerie figure {
  flex: 1 1 calc(25% - 12px);

  background: rgb(197, 157, 95);       /* votre couleur */
  overflow: hidden;                     /* optionnel, coupe débords */
}
 
.gallerie img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity .25s ease;        /* petite transition */
}

.gallerie div {
  display: flex;
  color: #ffffff;
  font-size: 50px;
  position: absolute;
  padding: 150px;
  visibility: hidden;
}
.gallerie>figure:hover div{
  display: flex;
  color: #ffffff;
  font-size: 150px;
  position: absolute;
  padding: auto;
 visibility: visible;
 
}
 
/* La magie : au survol, l'image se mélange avec la couleur du fond */
.gallerie figure:hover img {
  mix-blend-mode: multiply;             /* mélange avec le background du figure */
  opacity: 0.85;                        /* laisse un peu de couleur passer */
  cursor: pointer;
  transform: scale(1.2);
  
  /* animation-duration: 3s;
  animation-name: cross; */

}

@keyframes cross {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ******************* Section service */

.services{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    
}

.services>article{

    text-align: center;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 3em;

}
.services>article>div{

    width:100%;
    margin: auto;
  

}
.services>figure{
    width:100%;
    text-align: center;
    padding: 1em;
   
}



.services figure img{
        
    padding-left: auto;
   
    
}

.services article div h3{
    padding-top: 1em;
    text-align: center;
    width: 100%;
    
}

.services article h3:hover{
   color: rgb(197, 157, 95);
  

    
}

.services article div p{
 width: 100%;
 margin-left: auto;
  

} 

/* section parralax */

.parralax {
  /* The image used */
  background-image: url("img/h5-parallax-img-2.jpg");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parralax>div>h3{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f1f0f0;
    padding-top: 150px;
    
    
}

.parralax>div>p{
    font-style: italic;
    color: #f1f0f0;
    text-align: center;
    padding-top: 1em;


}

/* section maps */



/* ********** section footer */
footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f1f0f0;
    padding: 2em;
  
}

/* verification */

/* responsive design */
/* Mobile */
@media screen and (orientation: portrait) {
    .webappBody{
        background-size: auto;
    }
   
}

/* responsive */

.topnav {
  background-color: #333;
  display: flex;
  align-items: center;
  width: 100%;
}
.topnav_link {
  color: white;
  padding: 12px;
  text-decoration: none;
}
.topnav_link:hover {
  color: #0078b4;
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* hide classic menu */
  .menu {
    display: none;
  }
 

  /* position home link at left and hamburger at right */
  #home_link {
    flex-grow: 1;
  }

  /* disable horizontal scrolling  */
  :root {
    position: relative;
    overflow-x: hidden;
  }

  /* show responsive menu and position at the right of the screen */
  #topnav_responsive_menu {
   
    display: block;
    position: fixed;
    margin: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    z-index: 99;

    transform: translateX(100%); 
    transform: translate(200%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #topnav_responsive_menu ul {
    display: flex;
    flex-direction: column;

    position: absolute;
    margin: 0;
    right: 0;
    top: 0;

    min-width: 50vw;
    height: 100vh;
    padding: 56px 0 0;

    text-align: center;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  }

  #topnav_responsive_menu li {
    padding: 12px 24px;
  }

  #topnav_responsive_menu a {
    white-space: nowrap;
    color: #333;
    text-decoration: none;
  }

  /* And let's slide it in from the right */
  #topnav_responsive_menu.open {
    transform: translateX(0);
    position: fixed;
  }

  /* ******************** HAMBURGER ICON ******************** */
  /* define size and position of the hamburger link */
  #topnav_hamburger_icon {
    display: block;
    position: relative;
    margin: 16px;
    width: 33px;
    height: 28px;

    z-index: 100;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;

    background: #ededed;
    border-radius: 3px;

    z-index: 100;

    opacity: 1;
    left: 0;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  /* set the 3 spans position to look like a hamburger */
  #topnav_hamburger_icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }
  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  /* change color when opening the menu */
  #topnav_hamburger_icon.open span {
    background: #333;
  }

  /* the first span rotates 45° \ */
  #topnav_hamburger_icon.open span:nth-child(1) {
    width: 110%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* the second span disappears */
  #topnav_hamburger_icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  /* the last span rotates -45° / */
  #topnav_hamburger_icon.open span:nth-child(3) {
    width: 110%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

/* ********** images 1e section************** */

.logo>img {
    margin: auto;
    width: 50%;
    padding-top: 2em;
    padding-bottom: 2em;
}


/* ****************images seconde section***************** */

.second-section>figure>img{
    margin: auto;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 4em;
    
}

.second-section>article>div{

    width:100%;
    margin: auto;

}

  /* *************section galleries******************************** */
#respon {
  display: flex;
  flex-wrap: wrap;
}

#respon figure{
  flex-direction: row;
  flex: 1 1 calc(50% - 12px);
  
}
  
#respon figure:hover div{
  display: flex;
  color: #ffffff;
  font-size: 150px;
  position: absolute;
  padding: auto;
 visibility: hidden;
 
}

/* **************section services ********************** */

.services figure img{
        
 width: 80%;
   
    
}

.services article div p{
 width: 90%;
 margin-left: auto;
 ;
  

} 

}