/* ******************************General**************************************************** */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

/* ***********************************En-tête********************************************************* */

header{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 4;
    
}

a
{
    text-decoration:none;
    color: white;

}
h1
{
    font-size: 20px;
}
a:visited{
    color: beige;
}

 .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
  
 


nav li{
    display: inline;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}
nav a:hover {
    color: rgb(175, 175, 175);

}



.menu > h1 {
  
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.liste {
  
  

  font-size: 30px;
}

.white{
    color: white;
}


/* *********premiere section */
.first-section{
	display: flex;
    flex-direction: column;
    background-image:  url("img/h5-revolution-img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center; 
    height: 100vh; 
    justify-content: space-between;
   
  
   
   
    

}
.logo{
    display: flex;
    z-index: 2;
    width: 100%;
    
    
}
.logo>img{
    margin: auto;
    width: 30%;
    padding-top: 2em;
    padding-bottom: 2em;
}

blockquote{
    background-color: rgb(197, 157, 95);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f1f0f0;
    padding: 1em;
    
}
/* 
*****************************************deuxième section ************************************ */

.second-section{
    display: flex;
    flex-wrap: wrap;
    
    
}

.second-section>article{

    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second-section>article>div{

    width:90%;
    margin: auto;

}
.second-section>figure{
    width:50%;
    text-align: center;
}
.second-section>figure>img{
    width:50%;
    
}

 .second-section>article>div>h2{
 padding-bottom: 1em;
} 
.second-section>article>div>h3{
    padding-bottom: 1em;
}


.second-section>article>div>p{
 padding-bottom: 1em;
} 

.second-section>figure{
    width:50%;
    text-align: center;
    background-image:  url("img/h5-el-holder-img-1-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center; 
    height: 50vh; 
    justify-content: space-between;
}

.second-section figurespan{
    width:50%;
    text-align: center;
    background-image:  url("img/h5-el-holder-img-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center; 
    height: 100vh; 
    justify-content: space-between;
}

/* ********************* section galleries */

/* Mise en page simple de la galerie */
.gallerie {
  display: flex;
  flex-wrap: wrap;
 
}
 
/* On peut se passer du <div> intermédiaire : chaque figure prend 25% */
.gallerie figure {
  flex: 1 1 calc(25% - 12px);

  background: rgb(197, 157, 95);       /* votre couleur */
  overflow: hidden;                     /* optionnel, coupe débords */
}
 
.gallerie img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity .25s ease;        /* petite transition */
}

.gallerie div {
  display: flex;
  color: #ffffff;
  font-size: 50px;
  position: absolute;
  padding: 150px;
  visibility: hidden;
}
.gallerie>figure:hover div{
  display: flex;
  color: #ffffff;
  font-size: 50px;
  position: absolute;
  padding: 150px;

 
}
 
/* La magie : au survol, l'image se mélange avec la couleur du fond */
.gallerie figure:hover img {
  mix-blend-mode: multiply;             /* mélange avec le background du figure */
  opacity: 0.85;                        /* laisse un peu de couleur passer */
  cursor: pointer;
  transform: scale(1.2);
  
  /* animation-duration: 3s;
  animation-name: cross; */

}

@keyframes cross {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ******************* Section service */

.services{
    display: flex;
    flex-wrap: wrap;
    
}

.services>article{

    text-align: center;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 3em;

}
.services>article>div{

    width:100%;
    margin: auto;
  

}
.services>figure{
    width:100%;
    text-align: center;
   
}



.services figure img{
        
    padding-left: auto;
   
    
}

.services article div h3{
    padding-top: 1em;
    margin-left: auto;
    width: 80%;
    
}

.services article h3:hover{
   color: rgb(197, 157, 95);
  

    
}

.services article div p{
 width: 80%;
 margin-left: auto;
  

} 

/* section parralax */

.parralax {
  /* The image used */
  background-image: url("img/h5-parallax-img-2.jpg");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parralax>div>h3{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f1f0f0;
    padding-top: 150px;
    
    
}

.parralax>div>p{
    font-style: italic;
    color: #f1f0f0;
    text-align: center;
    padding-top: 1em;


}

/* section maps */



/* ********** section footer */
footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f1f0f0;
    padding: 2em;
  
}

/* verification */